.main-row {
  height: 100vh;
}

.bot-img {
  width: 110%;
  height: auto;
}

.IDA {
  font-size: 40px;
  text-align: center;
  padding-bottom: 1rem;
  color: #ffffff;
}

.welcome {
  font-size: 37px;
  text-align: center;
  padding-bottom: 3rem;
}

.slogan {
  text-align: center;
  font-weight: 200;
  font-style: italic;
  padding-bottom: 3rem;
}

.btn-a {
  z-index: 2 !important;
  position: relative;
}

.exis {
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
  height: 80px;
  width: auto;
  // filter: grayscale(100%);
}

@media (max-width: 768px) {
  .exis {
    height: 50px;
    width: auto;
  }

  .bot-img-container {
    order: 2;
  }

  .header-text {
    order: 1;
  }

  .bot-img {
    width: 100%;
    height: auto;
  }

  .IDA {
    font-size: 35px;
  }

  .welcome {
    font-size: 30px;
    padding-bottom: 1rem;
  }

  .slogan {
    font-size: 21px;
    padding-bottom: 2rem;
  }
}

.lang-img {
  width: 23px;
  height: auto;
  z-index: 2;
  cursor: pointer;
  margin-right: 10px;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
}

.lang-inactive {
  filter: grayscale(90%);
  -webkit-filter: grayscale(90%);
}

.lang-container {
  z-index: 2;
}

@media (max-width: 321px) {
  .exis {
    height: 35px !important;
    width: auto;
  }

  .IDA {
    font-size: 23px !important;
  }

  .welcome {
    font-size: 20px !important;
  }

  .slogan {
    font-size: 17px !important;
    padding-bottom: 1rem !important;
  }
}
