<particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
  <div class="container">
    <div class="row main-row">
      <div class="col-12 d-flex justify-content-start">
        <img
        class="mt-4 exis"
        src="assets/images/exis.png"
        alt="exis logo"
        />
        <div class="ml-auto mt-4 lang-container">
          <img [ngClass]="{ 'lang-inactive': currentLangSelected === 'es'}" (click)="translateApp('en')" class="lang-img" src="assets/images/en.svg" />
          <img [ngClass]="{ 'lang-inactive': currentLangSelected === 'en'}" (click)="translateApp('es')" class="lang-img" src="assets/images/es.svg" />
        </div>
      </div>
      <div class="bot-img-container col-12 col-md-6 d-flex align-items-end px-md-0 animate__animated animate__bounceIn animate__slow animate__delay-1s">
        <img
        class = "bot-img"
        src="assets/images/bot3d.png"
        alt="home phone"
        />
      </div>
      <div class="col-12 col-md-6 pt-4 header-text">
          <h1 class="IDA animate__animated animate__bounceIn animate__slow animate__delay-1s"> {{ "EXIS_IDA" | translate }} </h1>
          <h1 class="welcome animate__animated animate__bounceIn animate__slow animate__delay-1s"> {{ "WELCOME" | translate }} </h1>
          <h3 class="slogan animate__animated animate__fadeInLeft animate__slower animate__delay-2s">{{ "SLOGAN" | translate }}</h3>
          <div class="d-flex btn-a justify-content-center animate__animated animate__fadeIn animate__slow animate__delay-3s">
            <button
              type="button"
              class="btn btn-blue"
              (click)="toChannels()"
            >
              {{ "CHOOSE_FAVORITE_CHANNEL" | translate }}
            </button>
        </div>
      </div>
    </div>
  </div>